<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD16E_BbaPgHP6lk6ucxpm8QaKwQSWmirE</string>
	<key>GCM_SENDER_ID</key>
	<string>226987192335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.escolas.app.prosaber.b3dev</string>
	<key>PROJECT_ID</key>
	<string>escolas-app-365ba</string>
	<key>STORAGE_BUCKET</key>
	<string>escolas-app-365ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226987192335:ios:f1b718918423e3dc22b37a</string>
</dict>
</plist>